<!doctype html>
<html><!-- InstanceBegin template="/Templates/login.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>login</title>
<!-- InstanceEndEditable -->
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
	<div class="a">
		<!-- InstanceBeginEditable name="left" -->
		<div class="b_l"></div>
		<!-- InstanceEndEditable -->
		<div class="c">
			<div class="d">
				<!-- InstanceBeginEditable name="right" -->
				<h1>Login/Register</h1>
				<form method="post" novalidate>
					{% csrf_token %}
<!--					<input type="text" class="e" placeholder="USER NAME">-->
<!--					<input type="password" class="e" placeholder="PASSWORD">-->
					<div>
						{{form.username}}
						<span style="color: red;">{{form.username.errors.0}}</span>
					</div>
					<div>
						{{form.password}}
						<span style="color: red;">{{form.password.errors.0}}</span>
					</div>

					<div class="form-group">
<!--						<label for="id_code">图片验证码</label>-->
						<div class="row">
							<div class="col-xs-7">
<!--								<input type="text" name="code" class="form-control" placeholder="请输入图片验证码" required="" id="id_code">-->
<!--								<span style="color: red;"></span>-->
								{{form.code}}
								<span style="color: red;">{{form.code.errors.0}}</span>
							</div>
							<div class="col-xs-5">
								<img id="image_code" src="/image/code/" style="width: 125px;">
							</div>
						</div>
					</div>

					<a href="#" class="f">Forget the password?</a>
					<button type="submit" id="l">Login</button>
					<a href="/register/" class="g" id="r">Register</a>
				</form>
				<!-- InstanceEndEditable -->
			</div>
		</div>
	</div>
</body>
<!-- InstanceEnd --></html>
